<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dumb Hack | Admin Page</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body id="body">
    <div class="wrapper flex">
        <div class="box grid"> 
            <h1 class="flex header">Dumb Hack</h1>
            <form action="" id="admin-form">
                  <div class="container">
                    <input type="text" class="btn new" placeholder="Room name" autocomplete="off"  id="room-name">
                    <a onclick="randomRoom()" class="btn effect04" data-sm-link-text="RANDOM ROOM"><span>RANDOM ROOM</span></a>
                    <a type="submit" onclick="create()" class="btn effect04" data-sm-link-text="CREATE ROOM"><span>CREATE ROOM</span></a>
                  </div>
            </form>

        </div>
    </div>
    <script src="./js/admin.js"></script>
</body>
</html>