<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dumb Hack | Admin Page</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body id="body">
    <div class="wrapper flex">
        <div class="box grid"> 
            <h1 class="flex">Dumb Hack Admin Beta</h1>
            <!-- <div>
                <div class="flex col">Have a room ID</div>
                <div class="flex col">Create a room ID
                    <a href="/admin">Admin</a>
                </div>
            </div> -->
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/client.js"></script>
</body>
</html>