<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dumb Hack | Creator</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body id="body">
    <div class="wrapper flex">
        <div class="box grid"> 
            <h1 class="flex header">Dumb Hack</h1>
            <div class="flexc col">
                <div id="color" class="flex">Now Color</div>
                <h2>Creator Page</h2>
            </div>
            <button class="btn" onclick="init()">
                init
            </button>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/creator.js"></script>
</body>
</html>