@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans JP', sans-serif;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    background: linear-gradient( rgb(0, 185, 255),rgb(255, 235, 0));
}

.header{
  font-family: 'Ranchers', cursive;
  font-size: 50px;
}

.box{
    background: rgba(255, 255, 255, 0.123);
    border-radius: 5px;
    height: 60%;
    width: 60%;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flexc{
    flex-direction: column;
}

.grid{
    display: grid;
    grid-template-rows: 2fr 3fr;
}

.col{
    /* background: rgb(187, 47, 47); */
    width: 100%;
    height: 100%;
}

/* BUTTONS */

  
  .buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  
  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;

  }
  
  h1 {
    text-align: left;
    color: #000;
    letter-spacing: 0.05em;
    margin: 0 0 0.4em;
    font-size: 1em;
  }
  
  p {
    text-align: left;
    color: #000;
    letter-spacing: 0.05em;
    font-size: 0.8em;
    margin: 0 0 2em;
  }
  
  
  .btn {
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
  }
  .btn:hover {
    text-decoration: none;
  }
  
  /*btn_background*/
  .effect04 {
    --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
    display: var(--uismLinkDisplay);
    color: #000;
    outline: solid  2px #000;
    position: relative;
    transition-duration: 0.4s;
    overflow: hidden;
  }
  
  .effect04::before,
  .effect04 span{
      margin: 0 auto;
      transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
      transition-duration: 0.4s;
  }
  
  /* 文字1を上に */
  .effect04:hover{
  
    background-color: #000;
  }
  
  /* HOVERしたら文字1を上に */
  .effect04:hover span{
    -webkit-transform: translateY(-400%) scale(-0.1,20);
            transform: translateY(-400%) scale(-0.1,20);
  }
  
  /*文字2*/
  .effect04::before{
    content: attr(data-sm-link-text);
      color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transform: translateY(500%) scale(-0.1,20);
            transform: translateY(500%) scale(-0.1,20);
  }
  
  /* HOVERしたら文字2を上に */
  .effect04:hover::before{
    letter-spacing: 0.05em;
    -webkit-transform: translateY(0) scale(1,1);
            transform: translateY(0) scale(1,1);
  }
  
  #color{

    background-color: coral;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }